@import url('https://fonts.googleapis.com/css2?family=Ga+Maamli&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-primary-1 text-white leading-7 text-base md:text-lg font-[lato] font-light box-border;

  }
  ul {
    @apply list-none;
  }
}

@keyframes blink {
  0% { opacity: 1; }
  50% { opacity: 0; }
  100% { opacity: 1; }
}

.animate-blink {
  animation: blink 1s infinite;
}
